/* Reset default styles */
body, h1, p, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set background color and ensure full height */
html, body {
    background-color: #e9e4e4;
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
}

/* Container style */
.container {
    width: 100%;
    background-color: #212121;
}

#backbtn {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 15px;
    margin-bottom: 20px;
    text-decoration: none;
    display: inline-block;
}

/* Header style */
#header {
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 28px;
    color: #d1cece;
    margin-bottom: 10px;
}

/* Navigation style */
#nav {
    background-color: #212121;
}

#nav input[type=text].search-input {
    font-size: 17px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#nav ul {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    list-style-type: none;
}

#nav li {
    margin: 0 15px;
}

#nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #333;
    transition: background-color 0.3s ease;
}

#nav a:hover {
    background-color: #555;
}

/* Content style */
.main-content {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
}

p {
    font-size: 16px;
    color: #666;
    text-align: center;
    margin: 20px;
}

#feed {
    text-align: center;
    justify-content: center;
    background-color: #fff;
    width: 60%;
    margin: 0 auto; /* Center the feed area */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Blog form styles */
#publish {
    padding: 20px;
    background-color: #fff;
    width: 60%;
    margin: 20px auto; /* Center the publish area */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="text"]:not(.search-input),
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #555;
}
